
registry=https://apps-munichre.pkgs.visualstudio.com/XDS/_packaging/xds-npm-feed/npm/registry/

always-auth=true


//apps-munichre.pkgs.visualstudio.com/XDS/_packaging/xds-npm-feed/npm/registry/:username=apps-munichre
//apps-munichre.pkgs.visualstudio.com/XDS/_packaging/xds-npm-feed/npm/registry/:_password=Y3drNm9ncmR6NG5nd2d1aHJkaGVxNDY0eDZidGg3a3A0d290dHdkc291cXR1ZGN4aWdlYQ==
//apps-munichre.pkgs.visualstudio.com/XDS/_packaging/xds-npm-feed/npm/registry/:email=dgrigoras@munichre.com
//apps-munichre.pkgs.visualstudio.com/XDS/_packaging/xds-npm-feed/npm/:username=apps-munichre
//apps-munichre.pkgs.visualstudio.com/XDS/_packaging/xds-npm-feed/npm/:_password=Y3drNm9ncmR6NG5nd2d1aHJkaGVxNDY0eDZidGg3a3A0d290dHdkc291cXR1ZGN4aWdlYQ==
//apps-munichre.pkgs.visualstudio.com/XDS/_packaging/xds-npm-feed/npm/:email=dgrigoras@munichre.com